<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ng-ResizeCrop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/<%= name %>.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Crop Resize JS</h1>
            <p>NgCropResize JS is an angular library for handling image manipulation in browser.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label class="btn btn-primary upload-btn" for="example-001">Upload file</label>
        </div>
        <div class="col-xs-10">
            <input id="example-001" type="file" cr-upload-button cr-src="example-001"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <h2>Crop window One</h2>
            <div class="embed-responsive embed-responsive-16by9" cr-crop-area cr-drop-area cr-src="example-001">
            </div>
        </div>
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Crop window Two</h2>
                    <div class="embed-responsive embed-responsive-16by9" cr-crop-area cr-drop-area cr-src="example-001">
                    </div>
                </div>
                <div class="col-xs-6 vert-offset-top-1">
                    <div cr-preview cr-src="example-001"></div>
                </div>
                <div class="col-xs-6 vert-offset-top-1">
                    <div cr-preview cr-src="example-001"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="./js/<%= name %>.js"></script>
</body>
</html>